* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.logo {
  margin: 20px;
  padding: 10px;
}

.header-links {
  margin: 20px;
  list-style: none;
}

.header-link {
  padding: 10px;
}

.header-link a {
  text-decoration: none;
}

input {
  margin: 20px;
  padding: 5px;
}
